In [1]:
from pyvotecore.schulze_method import SchulzeMethod
from pyvotecore.stv import STV
from pyvotecore.schulze_stv import SchulzeSTV
from pyvotecore.condorcet import CondorcetHelper
from pyvotecore.irv import IRV
import pyvotecore as vt
import pandas as pd

## Data Munging

In [53]:
#Reading in all contests
votes = pd.read_excel('/Users/vipassana/Downloads/Ballots.xlsx')

In [54]:
#### Splotting different contest

In [52]:
votes.iloc[1:5,0:15]

,Ballots,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
A,4,4.0,3.0,3.0,3.0,1,4.0,4,3.0,4.0,4.0,3,4.0,3,4.0
B,2,2.0,4.0,4.0,4.0,4,3.0,3,4.0,3.0,3.0,2,3.0,4,2.0
C,1,3.0,1.0,1.0,1.0,2,1.0,1,1.0,1.0,1.0,1,2.0,1,1.0
D,3,1.0,2.0,2.0,2.0,3,2.0,2,2.0,2.0,2.0,4,1.0,2,3.0

In [51]:
votes.iloc[7:13,0:15]

,Ballots,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
A,4,2.0,4.0,2.0,3.0,6,4.0,1,4.0,4.0,6.0,6,5.0,1,5.0
B,3,3.0,2.0,3.0,1.0,4,2.0,4,1.0,2.0,2.0,3,4.0,4,1.0
C,2,6.0,6.0,5.0,5.0,3,3.0,3,3.0,6.0,4.0,4,2.0,5,6.0
D,6,5.0,5.0,6.0,4.0,5,5.0,6,6.0,5.0,3.0,1,6.0,6,3.0
E,1,1.0,1.0,1.0,2.0,1,1.0,2,2.0,1.0,1.0,2,1.0,2,2.0
F,5,4.0,3.0,4.0,6.0,2,6.0,5,5.0,3.0,5.0,5,3.0,3,4.0

In [50]:
votes.iloc[15:22,0:15]

,Ballots,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
A,4,4.0,5.0,6.0,2.0,1,6.0,6,5.0,7.0,3.0,5,2.0,7,5.0
B,7,1.0,4.0,3.0,3.0,5,4.0,2,4.0,1.0,4.0,7,1.0,1,6.0
C,2,5.0,7.0,2.0,7.0,2,1.0,1,2.0,2.0,1.0,3,6.0,3,3.0
D,3,7.0,1.0,1.0,6.0,4,3.0,7,6.0,4.0,6.0,6,3.0,1(2),7.0
E,5,6.0,6.0,7.0,5.0,7,7.0,5,7.0,6.0,5.0,2,7.0,6,2.0
F,6,2.0,3.0,4.0,4.0,6,5.0,4,3.0,5.0,7.0,4,5.0,5,4.0
G,1,3.0,2.0,5.0,1.0,3,2.0,3,1.0,3.0,2.0,1,4.0,4,1.0

In [49]:
votes.iloc[24:30,0:15]

,Ballots,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
A,1,5.0,6.0,2.0,3.0,2,2.0,5,2.0,3.0,2.0,4,2.0,2,5.0
B,3,4.0,1.0,3.0,6.0,4,4.0,4,6.0,2.0,4.0,1,5.0,5,3.0
C,2,2.0,4.0,1.0,4.0,1,5.0,2,4.0,4.0,5.0,6,3.0,3,1.0
D,4,3.0,5.0,6.0,5.0,5,6.0,3,1.0,6.0,3.0,5,4.0,6,4.0
E,6,6.0,3.0,5.0,2.0,6,1.0,6,3.0,5.0,6.0,3,6.0,4,6.0
F,5,1.0,2.0,4.0,1.0,3,3.0,1,5.0,1.0,1.0,2,1.0,1,2.0

In [48]:
votes.iloc[32:41,0:15]

,Ballots,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
A,5,9.0,1.0,6.0,3.0,2,5.0,1,7.0,6.0,2.0,6,6.0,1,5.0
B,6,1.0,4.0,3.0,1.0,5,3.0,2,3.0,3.0,6.0,8,5.0,2,2.0
C,4,8.0,5.0,7.0,6.0,1,8.0,4,2.0,4.0,7.0,3,4.0,9,9.0
D,7,6.0,7.0,5.0,7.0,4,9.0,9,9.0,9.0,4.0,1,9.0,7,3.0
E,2,4.0,3.0,1.0,5.0,3,4.0,3,1.0,2.0,3.0,9,1.0,3,7.0
F,3,5.0,9.0,8.0,8.0,7,1.0,7,5.0,1.0,1.0,5,2.0,8,1.0
G,1,3.0,8.0,2.0,2.0,8,2.0,6,4.0,5.0,8.0,2,8.0,6,8.0
H,8,2.0,6.0,9.0,4.0,9,6.0,5,6.0,7.0,9.0,7,7.0,5,6.0
I,9,7.0,2.0,4.0,9.0,6,7.0,8,8.0,8.0,5.0,4,3.0,4,4.0

In [47]:
votes.iloc[43:46,0:15]

,Ballots,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
A,3,1.0,2.0,2.0,3.0,3,1.0,3,1.0,3.0,1.0,3,3.0,1,1.0
B,1,3.0,3.0,3.0,1.0,1,2.0,1,2.0,1.0,3.0,2,2.0,3,2.0
C,2,2.0,1.0,1.0,2.0,2,3.0,2,3.0,2.0,2.0,1,1.0,2,3.0

In [46]:
votes.iloc[48:55,0:15]

,Ballots,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
A,7,5.0,2.0,2.0,1.0,4,3.0,5,3.0,1.0,4.0,1,1.0,3,1.0
B,6,3.0,3.0,7.0,7.0,1,7.0,6,4.0,6.0,7.0,3,6.0,7,4.0
C,2,7.0,7.0,1.0,6.0,5,6.0,4,5.0,4.0,2.0,5,7.0,6,6.0
D,1,1.0,5.0,3.0,5.0,2,2.0,1,1.0,5.0,5.0,7,2.0,1,7.0
E,4,4.0,4.0,6.0,4.0,7,1.0,7,2.0,7.0,3.0,6,3.0,5,5.0
F,5,2.0,1.0,4.0,3.0,6,5.0,2,7.0,2.0,6.0,2,4.0,4,3.0
G,3,6.0,6.0,5.0,2.0,2(3),4.0,3,6.0,3.0,1.0,4,5.0,2,2.0

In [45]:
votes.iloc[57:69,0:15]

,Ballots,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
A,7,6.0,10.0,3.0,3.0,5,8.0,4,7.0,6.0,2.0,4,11.0,5,8.0
B,10,5.0,8.0,7.0,8.0,7,9.0,8,6.0,9.0,9.0,7,9.0,7,6.0
C,1,2.0,7.0,9.0,7.0,6,7.0,3,5.0,5.0,7.0,6,10.0,4,7.0
D,6,4.0,9.0,2.0,5.0,8,6.0,5(6),9.0,4.0,4.0,11,1.0,10,5.0
E,3,3.0,2.0,1.0,4.0,3,2.0,6,3.0,7.0,5.0,5,5.0,3,4.0
F,2,10.0,5.0,8.0,1.0,1,1.0,1,2.0,8.0,3.0,3,4.0,1,2.0
G,11,11.0,4.0,6.0,9.0,10,11.0,7,4.0,12.0,11.0,9,7.0,8,12.0
H,12,12.0,11.0,12.0,11.0,12,5.0,10,10.0,11.0,8.0,11(12),6.0,12,11.0
I,9,9.0,6.0,10.0,6.0,9,10.0,9,11.0,1.0,10.0,8,8.0,9,10.0
J,5,1.0,1.0,4.0,2.0,2,3.0,2,1.0,2.0,1.0,1,2.0,2,1.0
K,3(4),8.0,3.0,5.0,10.0,4,4.0,5,8.0,3.0,6.0,2,3.0,6,3.0
L,8,7.0,12.0,11.0,12.0,11,12.0,11,12.0,10.0,12.0,10,12.0,11,9.0

In [44]:
votes.iloc[71:76,0:15]

,Ballots,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
A,3,3.0,2.0,1.0,5.0,3,2.0,2,3.0,1.0,1.0,1,3.0,1,4.0
B,2,4.0,5.0,4.0,1.0,2,4.0,3,2.0,3.0,3.0,2,5.0,2,3.0
C,4,1.0,3.0,2.0,3.0,4,3.0,4,4.0,4.0,4.0,4,1.0,3,2.0
D,5,5.0,4.0,5.0,4.0,5,5.0,5,5.0,5.0,5.0,5,2.0,5,5.0
E,1,2.0,1.0,3.0,2.0,1,1.0,1,1.0,2.0,2.0,3,4.0,4,1.0

In [43]:
votes.iloc[78:87,0:15]

,Ballots,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
A,1,2.0,7.0,2.0,3.0,5,4.0,4,6.0,5.0,2.0,5,4.0,3,3.0
B,2,5.0,4.0,3.0,2.0,4,3.0,3,4.0,2.0,1.0,3,6.0,6,2.0
C,4,4.0,3.0,7.0,6.0,3,7.0,5,9.0,8.0,7.0,6,8.0,7,8.0
D,3,6.0,5.0,1.0,5.0,7,5.0,2,5.0,4.0,4.0,7,7.0,4,4.0
E,5,1.0,2.0,4.0,1.0,1,1.0,1,2.0,1.0,3.0,1,3.0,1,1.0
F,6,3.0,1.0,6.0,4.0,6,2.0,6,1.0,9.0,6.0,2,1.0,5,5.0
G,7,9.0,9.0,8.0,8.0,9,9.0,9,8.0,7.0,9.0,9,9.0,9,9.0
H,8,8.0,8.0,9.0,7.0,8,6.0,8,7.0,3.0,8.0,8,2.0,8,7.0
I,9,7.0,6.0,5.0,9.0,2,8.0,7,3.0,6.0,5.0,4,5.0,2,6.0

In [42]:
votes.iloc[89:94,0:15]

,Ballots,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
A,5,4.0,1.0,1.0,1.0,3,4.0,2,1.0,3.0,1.0,1,4.0,2,1.0
B,2,1.0,2.0,4.0,4.0,1,3.0,5,2.0,2.0,2.0,4,2.0,3,4.0
C,3,5.0,4.0,5.0,5.0,2,5.0,1,4.0,5.0,4.0,5,5.0,5,5.0
D,4,2.0,3.0,2.0,3.0,4,1.0,4,3.0,4.0,3.0,3,3.0,4,2.0
E,1,3.0,5.0,3.0,2.0,5,2.0,3,5.0,1.0,5.0,2,1.0,1,3.0

In [4]:
votes.iloc[0:6,1:16].astype(int)

   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0   4   2   4   2   3   6   4   1   4   4   6   6   5   1   5
1   3   3   2   3   1   4   2   4   1   2   2   3   4   4   1
2   2   6   6   5   5   3   3   3   3   6   4   4   2   5   6
3   6   5   5   6   4   5   5   6   6   5   3   1   6   6   3
4   1   1   1   1   2   1   1   2   2   1   1   2   1   2   2
5   5   4   3   4   6   2   6   5   5   3   5   5   3   3   4

In [15]:
foo = []
for j in range(1,16): 
    mylist=list(votes.iloc[0:6,0])
    myorder=[x - 1 for x in list(votes.iloc[0:6,j].astype(int)) ]
    mylist = [ mylist[i] for i in myorder]
    mylist = [[y] for y in mylist]
    foo.append({"count":1,"ballot": mylist})

In [6]:
IRV(foo, ballot_notation = CondorcetHelper.BALLOT_NOTATION_GROUPING).as_dict()

TypeError: __init__() got an unexpected keyword argument 'ballot_notation'

In [13]:
SchulzeSTV(foo, ballot_notation = CondorcetHelper.BALLOT_NOTATION_GROUPING).as_dict()['winners']

{u'D'}

In [16]:
SchulzeMethod(foo, ballot_notation = CondorcetHelper.BALLOT_NOTATION_GROUPING).as_dict()['winner']

u'D'